[Unit]
Description=ITD Node.js Application
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory={{ app_dir }}
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target