<!DOCTYPE html>
<html>
<head>
    <title>IT Defined</title>
</head>
<body>
    <h1>Welcome to IT Defined's Cloud Automation</h1>
    <p>Server: {{ inventory_hostname }}</p>
    <p>IP: {{ ansible_host }}</p>
    <p>Deployed using Ansible Role</p>
</body>
</html>

